<html>

<head>
    <title>CAMERA MAN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        function checkEmpty() {
            var name = document.forms["confirm_email"]["otp"].value
            if (name == '' || name == null) {
                document.forms["register"]["otp"].focus();
                document.getElementById("alert").innerHTML = "โปรดกรอกข้อมูลให้ครบถ้วน";
                return false;
            }
        }

        function otp_countdown(duration, display) {
            var timer = duration,
                minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = 90;
                    display.textContent = "00:00";
                    if (confirm('รหัส OTP ของคุณหมดอายุ จะให้ส่ง OTP อีกครั้งหรือไม่')) {
                        window.location.href = '/sendOtp_confirmForgetpassword';
                    } else {
                        window.location.href = '/forget';
                    }
                }
            }, 1000);
        }

        window.onload = function () {
            var fiveMinutes = 90,
                display = document.querySelector('#countdown');
            otp_countdown(fiveMinutes, display);
        };
    </script>
    <style>
        body {
            background-color: #C0C0C0;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2 align="center">ยืนยันอีเมล</h2>
        <form action="{{ url_for('checkOtp_forgetPassword') }}" method="POST" id="confirm_email" name="confirm_email">
            {% if request.args.get('alert') %}
            <h4 align="center" id="alert" style="color: red;">
                {{ request.args.get('alert') }}
            </h4>
            {% endif %}
            {% if request.args.get('confirm') %}
            <h4 align="center" id="alert" style="color: green;">
                {{ request.args.get('confirm') }}
            </h4>
            {% endif %}
            <div class="form-group">
                <label for="fname">OTP</label>
                <input type="text" class="form-control" id="otp" name="otp">
            </div>
            <button type="submit" class="pull-left btn btn-success" onclick="return checkEmpty()">ยืนยัน</button>
            <a class="btn btn-outline-danger" href="sendOtp_confirmForgetpassword">ส่งอีกครั้ง</a>
            <a class="pull-right btn btn-primary" href="forgetPassword">ย้อนกลับ</a>

            <p align='center'>รหัสยืนยันการสมัครสมาชิกของ อีเมล:{{ session['email'] }} มีอายุการใช้งานอีก <font
                    color="red" id="countdown">01:30</font>
            </p>
        </form>
    </div>

</body>

</html>