<html>

<head>
  <title>CAMERA MAN</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
    function delete_image() {
      if (confirm("Are you sure to delete this ?")) {
        return true;
      } else {
        return false;
      }
    }

    function selete_notification() {
      if (confirm("Are you sure to seleted this ?")) {
        return true;
      } else {
        return false;
      }
    }

    function delete_notification() {
      if (confirm("Are you sure to delete this ?")) {
        return true;
      } else {
        return false;
      }
    }

    $(document).ready(function () {
      $("#MyModel").on('shown.bs.modal', function () {
        $("#add_notification").trigger("reset");
        $("#alert").empty();
        $(this).find('#notification_name').focus();
      });
    });

    function checkEmpty() {
      var name = document.forms["add_notification"]["notification_name"].value
      var token = document.forms["add_notification"]["notification_linetoken"].value
      if (name == '' || name == null) {
        document.forms["add_notification"]["notification_name"].focus();
        document.getElementById("alertSelectbox").innerHTML = "โปรดกรอกข้อมูลให้ครบถ้วน";
        return false;
      } else if (token == '' || token == null) {
        document.forms["add_notification"]["notification_linetoken"].focus();
        document.getElementById("alertSelectbox").innerHTML = "โปรดกรอกข้อมูลให้ครบถ้วน";
        return false;
      } else {
        if (confirm("Are you sure to save this ?")) {
          return true;
        } else {
          return false;
        }
      }
    }

    function checkSelectbox() {
      var name = document.getElementById("token_id").value
      if (name == '' || name == null) {
        document.getElementById("alert").innerHTML = "โปรดเลือกช่องทางการแจ้งเตือน";
        return false;
      } else {
        return true;
      }
    }
  </script>
  <style>
    body {
      background-color: #C0C0C0;
    }

    #div_date {
      float: left;
      width: 100%;
      height: auto;
    }

    #div_img {
      float: left;
      width: auto;
      height: auto;
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">CAMERA MAN</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="home">Home</a></li>
        <li><a href="camera">เปิดกล้อง</a></li>
        <li><a href="videoGallery">คลังวิดิโอ</a></li>
        <li class="active"><a href="notificationHistory">การแจ้งเตือน</a></li>
        <li><a href="member">สมาชิก</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">{% if session['name'] %} {{ session['name'] }} {% endif %}</a></li>
        <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h3>ข้อมูลการแจ้งเตือน</h3>

    <h4 id="alert" style="color: red;">
      {% if alert %} {{ alert }} {% endif %}
      {% if request.args.get('alert') %} {{ request.args.get('alert') }} {% endif %}
    </h4>

    <form action="{{ url_for('editNotification') }}" method="POST" id="delete_history" name="delete_history"
      onsubmit="return checkSelectbox()">
      <div class="form-group">

        <label>เลือกช่องทางแจ้งเตือน</label>
        <select id="token_id" name="token_id" class="form-control">
          {% for token in data_token %}

          {% if token[0] == user_token %}
          <option value="{{ token[0] }}" selected>{{ token[1] }}</option>
          {% else %}
          <option value="{{ token[0] }}">{{ token[1] }}</option>
          {% endif %}
e
          {% endfor %}
        </select>

        <br>

        <button type="submit" class="btn btn-success mb-2" value="selete" id="submit" name="submit"
          onclick="return selete_notification()">ยืนยัน</button>
        <button type="submit" class="pull-right btn btn-danger mb-2" value="delete" id="submit" name="submit"
          onclick="return delete_notification()">ลบ</button>
        <button type="button" class="pull-right btn btn-primary mb-2" data-toggle="modal"
          data-target="#MyModel">เพิ่ม</button>

      </div>
    </form>

    <hr>

    <h3>ประวัติการแจ้งเตือน</h3>
    <form action="{{ url_for('deleteHistory') }}" id="delete_history" name="delete_history" method="POST"
      onsubmit="return delete_image()">
      {% for date in dates %}

      <div id="div_date">
        <h4>วันที่ {{ date }}</h4>
        {% for image in images %}

          {% if image[1] == date %}

          <div id="div_img">
            <button type="submit" value="{{ image[0] }}" id="img_alert" name="img_alert">
              <img src="{{ 'static/'+session['email']+'/Alert/'+image[0] }}" width="150px" height="100px">
            </button>
            <p>เวลา {{ image[2] }}</p>
          </div>

          {% endif %}

        {% endfor %}
      </div>
      <hr>
      {% endfor %}

    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="MyModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">เพิ่มข้อมูลการแจ้งเตือน</h3>
        </div>

        <form action="{{ url_for('addNotification') }}" method="POST" id="add_notification" name="add_notification">
          <div class="modal-body">

            <h4 id="alertSelectbox" style="color: red;"></h4>

            <div class="form-group">
              <label>ชื่อกลุ่ม</label>
              <input type="text" class="form-control" id="notification_name" name="notification_name">
            </div>

            <div class="form-group">
              <label>Line Token</label>
              <input type="text" class="form-control" id="notification_linetoken" name="notification_linetoken">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            <button type="submit" class="btn btn-primary" onclick="return checkEmpty()">บันทึก</button>
          </div>

        </form>

      </div>
    </div>
  </div>

</body>

</html>