<html>

<head>
    <title>CAMERA MAN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        function checkEmpty() {
            var name = document.forms["register"]["name"].value
            var email = document.forms["register"]["email"].value
            var password = document.forms["register"]["password"].value
            if (name == '' || name == null) {
                document.forms["register"]["name"].focus();
                document.getElementById("alert").innerHTML = "โปรดกรอกข้อมูลให้ครบถ้วน";
                return false;
            } else if (email == '' || email == null) {
                document.forms["register"]["email"].focus();
                document.getElementById("alert").innerHTML = "โปรดกรอกข้อมูลให้ครบถ้วน";
                return false;
            } else if (password == '' || password == null) {
                document.forms["register"]["password"].focus();
                document.getElementById("alert").innerHTML = "โปรดกรอกข้อมูลให้ครบถ้วน";
                return false;
            }
        }
    </script>
    <style>
        body {
            background-color: #C0C0C0;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2 align="center">สมัครสมาชิก</h2>
        <form action="{{ url_for('checkRegister') }}" method="POST" id="register" name="register">

            <h4 align="center" id="alert" style="color: red;">
                {% if request.args.get('alert') %} {{ request.args.get('alert') }} {% endif %}
            </h4>
            <h4 align="center" id="confirm" style="color: green;">
                {% if request.args.get('confirm') %} {{ request.args.get('confirm') }} {% endif %}
            </h4>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" name="password">
            </div>

            <button type="submit" class="pull-left btn btn-success" onclick="return checkEmpty()">ยืนยัน</button>
            <a class="pull-right btn btn-primary" href="login">เข้าสู่ระบบ</a>
            <a class="pull-right btn btn-primary" href="/">หน้าหลัก</a>
        </form>
    </div>

</body>

</html>